<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toperc.lib_aatools">

    <!--悬浮框权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name="com.toperc.lib_aatools.base.AAToolsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/DevelopToolsTheme" />

        <activity
            android:name="com.toperc.lib_aatools.tools.crash_log.CrashLogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DevelopToolsTheme" />

        <activity
            android:name="com.toperc.lib_aatools.tools.file.FileViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DevelopToolsTheme" />

        <service
            android:name="com.toperc.lib_aatools.tools.tracker.TrackerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

        </service>
    </application>

</manifest>