<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ixinrun.lib_aatools">

    <!--悬浮框权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name=".base.AAToolsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/DevelopToolsTheme" />

        <activity
            android:name=".tools.crash_log.CrashLogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DevelopToolsTheme" />

        <activity
            android:name=".tools.file.FileViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DevelopToolsTheme" />

        <activity
            android:name=".tools.activity_stack.ActivityStackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DevelopToolsTheme" />

    </application>

</manifest>